.col-sm-1
  %b
    = Time.at(duration[:calculation_time]).hour
    = ":"
    = Time.at(duration[:calculation_time]).min
.col-sm-3.text-right
  = duration[:duration]
  s /
  = (duration[:duration] / 60).to_i
  min
.col-sm-1.text-right
  = duration[:diff]
  s
.col-sm-1
  %span.label{ class: duration[:diff] >= 0 ? (duration[:diff] == 0 ? "label-default" : 'label-success') : "label-danger" }
    - if duration[:diff] == 0
      no difference
    - else
      = sufix(duration[:diff])
.col-sm-3.text-right
  = (duration[:diff] / 3).to_i
  mins monthly
.col-sm-3.text-right
  = duration[:diff] * 4
  mins annually
-# .col-sm-2
-#   %a.btn.btn-default.btn-xs
-#     %i.glyphicon.glyphicon-map-marker
-#     Show
