%br
.panel.panel-default
  .panel-heading Check best time to go
  .panel-body
    .col-sm-1
    .col-sm-10
      = simple_form_for route, method: :get, html: { class: 'form-horizontal' } do |form|
        .col-sm-5
          = form.input :from, placeholder: 'Bielsko-Biała, Cieszyńska 1'
        .col-sm-2
          %br
          #action.btn.btn-primary{ style: 'margin: 6px 0 0 50px;' }
            %i.glyphicon.glyphicon-resize-horizontal
        .col-sm-5
          = form.input :to, placeholder: 'Bielsko-Biała, Krakowska 351'
        .col-sm-12
          = form.input :start_time, placeholder: '07:30'
          = form.submit 'Check', class: 'btn btn-primary col-sm-12'
    .col-sm-1

:coffeescript
  $('#action').click ->
    from = $('#my_route_from').val()
    to = $('#my_route_to').val()
    $('#my_route_from').val(to)
    $('#my_route_to').val(from)
