.col-sm-2
.col-sm-8
  = render 'form'

  - if route.valid?
    - MyRoutesController::DAYS.each do |day|
      .panel.panel-default
        .panel-heading= day
        .panel-body
          %b.row
            .col-sm-1
              departure time
            .col-sm-3.text-right
              duration
            .col-sm-1.text-right
              difference
            .col-sm-1
              status
            .col-sm-3.text-right
              saving monthly
            .col-sm-3.text-right
              saving annually

          - results[day].keys.each do |time_distance|
            - check = results[day][time_distance]
            - calculation_time = check[:calculation_time]
            - base_calculation_duration = check[:base_calculation_duration]
            - base_starting_time = check[:base_starting_time]

            %div{ id: "#{day}#{time_distance}" }
              loading ...

            :coffeescript
              params = {
                from: "#{route.from}"
                to: "#{route.to}"
                calculation_time: "#{calculation_time}",
                base_calculation_duration: "#{base_calculation_duration}",
                base_starting_time: "#{base_starting_time}"
              }
              $.get '/results/1', params, (data) => $("##{day}#{time_distance}").html(data)

.col-sm-2
